<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>todo-ui</title>
</head>

<body>
    <h1>Todos</h1>

    <form action="#" th:action="@{/todos}" th:object="${todo}" method="post">
        <table border="1">
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" th:field="*{todoItemName}" /></td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><input type="text" th:field="*{todoItemDescription}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <br>

    <table border="1">
        <tr th:each="todo: ${todos}">
            <td th:text="${todo.todoItemName}" />
            <td th:text="${todo.todoItemDescription}" />
        </tr>
    </table>
</body>

</html>